services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5713:5713"
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
      - /app/node_modules # This line creates a separate anonymous volume for node_modules,
                          # preventing it from being overwritten by the host machine's directory.
    restart: always

  ml-model:
    build:
      context: ./ml-model
    ports:
      - "5002:5002"
    environment:
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5002
    restart: always

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules # Add this for the backend as well if it uses node
    restart: always